<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards App</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <h1>Flashcards App</h1>
        {% include 'cards/navigation.html' %}
    </header>
    <main>
        {% block content %}
            <h2>Welcome to Flashcards!</h2>
        {% endblock %}
    </main>
</body>
</html>