<article>
    <h4>{{ card.question }}</h4>
    {% if  not check_card %}
        <p>{{ card.answer }}</p>
    {% include 'cards/card_ctrl.html' %}
    {% else %}
        <details>
            <summary>Show Answer</summary>
            <div class="notice" style="text-align: center;">
                <strong style="color: var(--text);">{{ card.answer }}</strong>
            </div>
            <hr>
            <div>
                <p>Did you know the answer?</p>
                {% include "cards/card_check_form.html" with solved=True %}
                {% include "cards/card_check_form.html" with solved=False %}
            </div>
            {% include 'cards/card_ctrl.html' %}
        </details>
    {% endif %}
</article>